
<div id="container-fluid">
<section id="main-content">
        <section class="wrapper site-min-height">
          <!-- <h3><i class="footera fa-angle-right"></i> Blank Page</h3> -->
          <div class="row">
            <div class="col-lg-12">
              <!-- <h2><%# @welcomemsg %></h2> -->
              <% if session[:played].to_f < 16 %>
                <table class="table table-striped" >
                  <tr>
                    <th colspan="5" class="text-center"><h1><%= @image.first.image_title %></h1></th>
                    <th class="text-center"> <h1>OR</h1> </th>
                    <th colspan="5" class="text-center"><h1><%= @image.second.image_title %></h1></th>
                  </tr>
                  <tr>
                    <td colspan="5" align="center"><a href="/chosen/<%= @image.first.id %>"><img class="img img-responsive" src="<%= @image.first.image_url %>" class="img-circle" width="500"></td>
                      <td />
                    <td colspan="5" align="center"><a href="/chosen/<%= @image.second.id %>"><img class="img img-responsive" src="<%= @image.second.image_url %>" class="img-circle" width="500"></td></td>
                  </tr>
                </table>
              <% else %>
              <div >
              <h3 class="text-center">Get your top favorite food</h3>
              <div>
              <% end %>

            </div>
          </div>
        </section><!--/wrapper -->
      </section>
    </div>
